.nav-list {
    display: none; /* flex */
    margin: 5px 15px;
    padding: 0;
    list-style: none;

    li {
        margin: 0 15px;
        padding: 1px 15px;
        color: white;
        background-color: midnightblue;
        border-radius: 5px;

        &:first-child {
            margin-left: 0;
        }
    }
}
